/********** Header **********/
#header-nav {
  background-color: #d5ebfb;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 {
  color: #557c3e;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  font-size: 1.6em;
  background-color: #e4efc0;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #557c3e;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

.row {
  background-color: #d5ebfb;
}
#title {
  margin-bottom: 40px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
 #nav-list {
  display: none;
 }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #nav-list {
  display: none;
 }
  }

  /********** Small devices only **********/
@media (max-width: 767px) {
  .row {
    margin-left: auto;
    margin-right: auto;
  }
 }  